name: ci

on:
  push:
    branches:
      - master
    paths-ignore:
      - "**.md"
  pull_request:
  merge_group:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.head.label || github.run_id }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

permissions: {}

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    env:
      RENOVATE_PLATFORM: local
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version: 24
      - run: npm install -g renovate
      - run: renovate-config-validator --strict
      - run: renovate-config-validator --strict default.json
      - run: renovate-config-validator --strict auto.json
